.bureau-ht-body{
	padding-top: 0 !important;
	font-family: Arial,Helvetica,sans-serif/*"微软雅黑"*/;
	overflow: hidden;
}
.lx-logo{background: url(../img/login-logo1.png) no-repeat scroll 0px 0px transparent; height: 19px; width: 21px;display: block;}
.navbar-bureau{
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(234, 234, 234, 1)) repeat scroll 0% 0% transparent;
height: 38px;
min-height: 38px;
box-shadow: 0px 0px 2px rgba(117, 117, 117, 1);
	
	}
.navbar-bureau .navbar-nav > li > a{
	line-height: 18px !important;
	padding: 10px 10px;
	color: #999 !important;
	font-size: 12px;
}

.bureau-navlist{
	height: 138px;
	padding: 38px 0 0 0;
	background: url(../img/bureau-img/body_bg01.png) top;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.525) inset;
}
.bureau-logo{width: 376px;margin: 0;padding: 18px 0 !important;text-align: left;}
.bureau-ht{
}
.bureau-ht-title{height: 40px;background: url('../img/rptx.png') repeat scroll 0% 0% transparent;}
.bureau-ht .bureau-left{
	width: 200px;
}
.bureau-left > .panel-body{
min-height: 600px;
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.06) inset;
background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */

}
.bureau-left > .panel-body ul.expmenu li ul li {
    text-align: left;
background-color: #68B4F0;
padding: 5px 12px;
border: 1px solid #379BE9;
color: #fff !important;
margin-bottom: 3px;
position: relative;
border-right: 0 !important;
}
.bureau-left > .panel-body ul.expmenu li ul.menu-menu li a{color: #fff; font-weight: bold;}
.bureau-left > .panel-body ul.menu-menu li{}
.bureau-left > .panel-body .menu-menu ol{
	background: none repeat scroll 0% 0% #fff;
text-align: left;
padding: 0px;
}
.bureau-left > .panel-body .menu-menu li a > span.fa {
    color: rgba(0, 91, 152, 1);}
.bureau-right > .panel-body{
border-right: 1px solid #ddd;
}
.bureau-right-heading{
	position: fixed;
margin: 0px;
padding: 0px;
/*overflow: hidden;*/
left: 200px;

top: 137px;
right:0;
}
.nav-tabs .current > a{line-height: 36px !important;}
.bureau-right-content{
	overflow-y: scroll;
position: fixed;
right: 0px;
top: 178px;
width: auto;
background: none repeat scroll 0% 0% #FFF;
left: 200px;
bottom: 0px;
padding: 20px;
}
.bureau-right ul.nav{
	background: url('../img/rptx.png') repeat scroll 0% 0% transparent;
	height: 40px;
	box-shadow: 0px 3px 0px rgba(242, 242, 242, 1);
}
.san3{
	width: 0px;
height: 0px;
padding: 0px !important;
border-width: 17px !important;
border-style: solid;
border-color: rgba(204, 0, 51, 0) rgba(255, 204, 0, 0) rgba(102, 153, 204, 0) #68B4F0 !important;
position: absolute;
top: -1px;
right: -34px;
z-index: 3;
}
li.hui-right{
	padding: 5px 5px;
	border-right: 0px none !important;
}
.hui-right a.btn{
	background-image: linear-gradient(to bottom, #5BC0DE 0%, #2AABD2 100%);
background-repeat: repeat-x;
border-color: #28A4C9;
line-height: 25px;
font-size: 14px;
padding: 0px 10px;
color: #fff;

}
.hui-right a.btn:hover{
	border-color: #28A4C9;
}
/*自定义科室*/
.zdy-ks{
	width: 20%;
	float: left;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}
.zdy-ks:hover .wrench{
	display: block;
}
.wrench{
	width: 30px;
	height: 70px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.31);
	position: absolute;
	right: 5px;
	top: 0px;
	
	display: none;
}
.wrench .fa{padding: 10px 6px 0px 6px;font-size: 18px; text-decoration: none;color: #eee;}
.zdy-ks ul{
	padding: 6px;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
background: url('../img/bg_index_6b4cd6b3.png') repeat scroll 0% 0% transparent;
border-bottom: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-top: 3px solid  #68B4F0;
background-size: 100%;
}
.zdy-ks ul > li{
	height: 50px;
vertical-align: top;
}
.zdy-ks ul > li.bureau-new-szdw-img{
	margin-right: 5px !important;
overflow: hidden;
border-radius: 50%;
box-shadow: 0px 0px 3px #A4A4A4;
float: left;
}
.zdy-ks ul > li.bureau-new-szdw-img img{
	width:50px;
height: 50px;
transition: transform 0.3s ease 0s;
border-radius: 50% !important;
overflow: hidden !important;
}
.zdy-ks ul > li.bureau-new-szdw-name{
	margin-right: 0px !important;
	float: left;
}
.zdy-ks ul > li.bureau-new-szdw-name .label{
	padding: 0.1em !important;
text-shadow: 1px 1px 1px #FFF;
background: none repeat scroll 0% 0% transparent;
text-align: center;
color: #68B4F0;
display: block;
font-size: 14px;
width: 120px;
line-height: 50px;
}
.zdy-ks ul > li.bureau-new-szdw-name p{
	margin-bottom: 5px;
font-size: 12px;

}
.zdy-ks ul > li.bureau-new-szdw-name p a{
	color: #666;
}

.zdy-ks-add ul{
	padding: 6px;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
background: rgba(219, 219, 219, 1);
border: 1px solid #ddd;
border-top: 3px solid  rgba(219, 219, 219, 1);
background-size: 100%;
text-align: center;
}
.zdy-ks-add .bureau-new-szdw-name{
	float: none !important;
}
.zdy-ks-add .bureau-new-szdw-name a{
	line-height: 50px !important;
	font-size: 20px !important;
	text-align: center !important;
	width: 100% !important;
	margin: 0px !important;
	color: #9C9C9C !important;
	font-family: "微软雅黑";
	font-weight: 300;
	background: none;
	text-shadow: 1px 1px 1px #FFF;
	text-decoration: none;
}
.zdy-ks-add .bureau-new-szdw-name a:hover{
	color: #f90 !important;
}
/*
后台新闻发布*/
.bureau-news1-ico{background: none repeat scroll 0% 0% #F26464;
display: block;
margin-right: 8px;
float: left;
padding: 5px;
border-radius: 3px;
color: #FFF;}

.bureau-news2-ico{background: none repeat scroll 0% 0% #FF9D50;
display: block;
margin-right: 8px;
float: left;
padding: 5px;
border-radius: 3px;
color: #FFF;
	
}
.bureau-news3-ico{background: none repeat scroll 0% 0% #91C6EB;
display: block;
margin-right: 8px;
float: left;
padding: 5px;
border-radius: 3px;
color: #FFF;
	
}
.selectpicker{
	padding: 6px 5px;
	
}
.zdy-color > li{
	border-radius: 50%;
}
.zdy-color > li.active{
	border:2px solid #fff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
.zdy-color > li >a{
	width: 20px;
height: 20px;
display: block;
border-radius: 50%;
text-align: center;
color: #FFF;
}
.zdy-color > li >a.cuzdy-red{
	box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.53);
background: none repeat scroll 0% 0% #F6583C;
}
.zdy-color > li >a.cuzdy-blue{
	box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.53);
	background:#91C6EB;
}
.zdy-color > li >a.cuzdy-green{
	box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.53);
	background: #79D788;
}
.zdy-color > li >a.cuzdy-orange{
	box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.53);
	background: #F67E3C;
}
/*后台文章列表*/

.bureau-item-list{
background: none repeat scroll 0% 0% rgba(245, 252, 255, 1);
}
.bureau-item-list a{
	padding: 10px 5px;
	font-weight: bold;
	background: none ;
}
.bureau-item-list.bg3{
	background: #fff;
}
.bureau-item-list-title{
	font-size: 15px;
line-height: 35px;
font-weight: bold;
padding-left: 8px;
margin: 0px !important;
}
.bureau-item-list-footer{
	font-weight: 500;
color: #999;
position: absolute;
right: 30px;
}
.bureau-item-list-footer-data{
	margin: 0 10px;
}
.index-ico{
	background: none repeat scroll 0% 0% #68B4F0;
font-style: initial;
font-size: 12px;
color: #fff;
padding: 3px;
border-radius: 3px;
}

/*
推荐*/
/*成员发现*/
.bureau-chengyuan-search{
	width: 100%;
	min-height: 100px;
	padding: 10px 0px;
	background: #fff;
	margin-top: 15px;
}
.bureau-chengyuan-search-list{
	margin-right: 0px !important;
	height: 50px;
	text-align: center;
	position: relative;
}
.bureau-chengyuan-search-list a > span{
	margin-right: 0 !important;
}
.bureau-chengyuan-search-list a{
	background: none repeat scroll 0% 0% #EEE;
width: 100%;
height: 100%;
padding: 10px;
display: block;
line-height: 30px;
font-weight: bold;
border-radius: 12px;
}
.bureau-chengyuan-search-list.active a{
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.125) inset;
	background:#A4D9FF;
	color: #fff;
}
.san1{
	display: none;
}
.bureau-chengyuan-search-list.active .san1{
	display: block;
	width: 0px;
height: 0px;
padding: 0px !important;
border-width: 10px !important;
border-style: solid;
border-color: rgba(164, 217, 255, 1) rgba(255, 204, 0, 0) rgba(102, 153, 204, 0) rgba(104, 180, 240, 0) !important;
position: absolute;
bottom: -18px;
right: 45%;
z-index: 3;
}
.seach-bureau{
	margin: 5px;
	padding: 0px 7px;
	border: 1px solid #A4D9FF;
	font-size: 12px;
	box-shadow: 0px 3px 0px #F3F3F3;
}
ul.bureau-seach-school{padding: 6px 0; font-weight: bold;}
ul.bureau-seach-school li.current a{
	color: #f90;
}
ul.bureau-seach-school li:first-child{
	color: rgba(255, 255, 255, 1);
	font-weight: normal;
background: none repeat scroll 0% 0% #A4D9FF;
padding: 4px 6px;
margin-right: 20px;
}
.seach-seach{
	margin: 10px 0;
}
.seach-seach .input-group {
    /*border: 3px solid #A4D9FF;*/
}
.seach-seach .input-group .form-control {
    height: 34px;
    float: left;
    width: 33%;
    border: 3px solid #A4D9FF;
}
.seach-seach .input-group .input-group-btn{
	width: 33%;
	float: left;
}
.seach-seach .input-group .input-group-btn .btn {
    padding: 6px 60px;
    background: none repeat scroll 0% 0% #A4D9FF;
    text-shadow: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid #A4D9FF;
    border-radius: 0px !important;
    box-shadow: none;
    margin-left: 0px !important;
}
/*学校选中展示*/
#school_show > h4{
	border-bottom: 1px solid #CCC;
font-family: "微软雅黑";
padding: 7px;
background: none repeat scroll 0% 0% #F2F2F2;
box-shadow: 0px 3px 0px #EDEDED;
margin-top: 0px !important;
font-size: 14px;
}
#school_show > ul > li{
	padding:0 6px;
	margin-bottom: 15px;
}
#school_show > ul > li:hover .wrench{
	display: block;
}
#school_show > ul > li .wrench{
	width: 40px;
height:100%;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.41);
position: absolute;
right: 5px;
top: 0px;
display: none;
}
#school_show > ul > li .wrench .fa {
    font-size: 21px;
text-decoration: none;
color: #FFF;
padding: 0px;
position: relative;
top: 32%;
left: 28%;
}
#school_show > ul > li .wrench a.fa:hover{
	color: #f90;
}
#school_show > ul > li > ul.bureau-school-search-list{
	margin: 0px;
padding: 10px 7px;

background: rgb(255,175,75); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}
#school_show .bureau-school-search-list .bureau-school-search-name > h3 {
    margin: 0px !important;
font-size: 14px;
line-height: 30px;
font-weight: bold;
color: #FFF;
text-align: center;
}
#school_show .bureau-school-search-list .bureau-new-szdw-img > a {
    width: 30px;
    height: 30px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}
#school_show .bureau-school-search-list .bureau-new-szdw-img > a img{
	width: 30px;
	height: 30px;
}
#school_show .bureau-school-search-line{}
/*学校搜索展示*/

#pic_show > ul > li{
	padding:0 6px;
	margin-bottom: 15px;
}
#pic_show > ul > li:hover .wrench{
	display: block;
}
#pic_show > ul > li .wrench{
	width: 40px;
height:100%;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.41);
position: absolute;
right: 5px;
top: 0px;
display: none;
}
#pic_show > ul > li .wrench .fa {
    font-size: 21px;
text-decoration: none;
color: #FFF;
padding: 0px;
position: relative;
top: 35%;
left: 28%;
}
#pic_show > ul > li .wrench a.fa:hover{
	color: #f90;
}
#pic_show > ul > li > ul.bureau-school-search-list{
	margin: 0px;
border-top: 2px solid #CCC;

padding: 10px 7px;

background: url('../img/bg_index_6b4cd6b3.png') repeat scroll 0% 0% transparent;
background-size: 100%;
border: 1px solid #ccc;
}
.bureau-school-search-list li{
	vertical-align: top;
	padding: 0px;
}
.bureau-school-search-list .bureau-new-szdw-img{
	margin-right: 0px !important;

}
.bureau-school-search-list .bureau-new-szdw-img > a{
	width: 30px;
	height: 30px;
	display: block;
	overflow: hidden;
border-radius: 50%;
}
.bureau-school-search-list .bureau-new-szdw-img img{
	width: 30px;
	height: 30px;
}
.bureau-school-search-list .bureau-school-search-name{
	margin-right: 0;
}
.bureau-school-search-list .bureau-school-search-name > h3{
	margin: 0px !important;
font-size: 14px;
line-height: 20px;
font-weight: bold;
color: #4C9ED9;
text-align:right;
}
.bureau-school-search-list .bureau-school-search-name > p{
	font-size: 12px;
	margin: 0;
	line-height: 15px;
	color: #666;
	text-align: right;
}
.bureau-school-search-list .bureau-school-search-name > p span{
	margin-left: 5px;
}
.zhaiyao{
	font-size: 12px;
line-height: 20px;
color: #999;
text-align:Justify;
text-align-last:justify;
text-justify:inter-ideograph;
height: 77px;
overflow: hidden;
}
.zhaiyao p{
	font-size: 12px;
line-height: 20px;
color: #999;
text-align:Justify;
text-align-last:justify;
text-justify:inter-ideograph；
}
.color0{
	border-top: 2px solid rgba(164, 197, 255, 1) !important;
}
.color1{
	border-top: 2px solid rgba(240, 138, 138, 1) !important;
}
.color2{
	border-top:2px solid rgba(255, 203, 164, 1) !important;
}