
      body {
        font-family: "微软雅黑";
        margin: 0;
        height: 100%;
      }

      .fs-container {
        width: 768px;
        height: 300px;
        margin: auto;
      }
      .mainbox {
        height: 100%;
      }
      .literally {
        width: 100%;
        height: 100%;
      }
      .SECT canvas{
      	z-index: 10!important;
        background: none!important;
      }
      .literally canvas {
        background: none!important;
      }
      .SECT {
        border: none!important;
        margin: 0!important;
        width: 100%!important;
        /*position: relative;!important;
        left: 20%!important;
        top: 0!important;
        bottom: 0!important;
        right: 0!important;*/
        /*width: 70%!important;*/
      }
      .sidebar {
        bottom: 0;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        width: 15%;
      }
      .mainbox {
        float: right;
        width: 85%;
      }
      .colorpicker {
        z-index: 11;
      }
      .sidebar ul {
        padding: 10px;
      }
      .sidebar li{
        list-style: none;
        margin-bottom: 10px;
      }
      .sidebar li a {
        background: #f9f9f9;
        border: 1px solid #ccc;
        display: block;
        height: 20px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
      }
      .sidebar li.current a {
        background: #2ecc71!important;
        color: white!important;
        border: 1px solid #2ecc71;
      }
      .sidebar li a:hover {
        background: #eee;
      }
      .literally .toolbar {
        height: 55px;
        padding: 5px;
        border-top: 1px solid #ccc;
        position: fixed;
      }
      .literally .button.color-square {
        width: 30px;
        height: 30px;
      }
      .literally .tools .button {
        width: 70px;
        height: 40px;
        line-height: 40px;
      }
      .literally .button {
        vertical-align: middle;
      }
      .literally .tool-options-container {
        vertical-align: middle;
      }
      .tool-pan,.tool-eye-dropper {
        display: none!important;
      }
      .tool-eraser {
        border-radius: 0 5px 5px 0!important;
      }
      .literally .button {
        padding: 5px 10px;
        line-height: 30px;
      }
      .literally .toolbar-row-right {
        width: 15em;
        margin-right: 10px;
      }
      .fullscreen-button {
        background: #2ecc71;
        //border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        padding: 6px 0;
        //position: absolute;
        right: 10px;
        text-align: center;
        top: 10px;
        width: 100%;
        z-index: 20;
        color: white;
        display:block;
      }
      .fullscreen-button:hover {
        background: #1ebc61;
      }
      ul,li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .page-change {
        position: absolute;
        z-index: 11;
        top: 50%;
        margin-top: -153px;
      }
      .page-change.left {
        left:10px;
        display: none;
      }
      .page-change.right {
        right:10px;
        display: none;
      }
      .page-change .button {
        padding: 10px;
        font-size: 20px;
        opacity:0.8;
      }
      .page-change .button:hover {
        color: white!important;
        opacity:0.3;
      }
      .tool-options-container {
        border-radius: 5px;
        font-size: 12px;
        padding: 7px 6px;
      }
      .tool-options span, .tool-options input {
        vertical-align: middle;
        display: inline-block;
      }
      .tool-options input {
        width: 50px;
      }
      .page-change.mid {
        bottom: 6px;
        left: 50%;
        margin-left: -110px;
        top: auto;
        width: 220px;
      }
      .page-change.mid li {
        float: left;
        margin-right: 5px;
      }
      .page-change.mid li .button {
        padding: 5px 15px;
      }
      .full-button {
        display: none;
      }
      .canvas-box{
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      bottom: 0;
      left: 0;
      position: absolute !important;
      right: 0;
      top: 0;
    }