    html {
      overflow:auto;
    }
    .SECT2 {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2516572050;
      background: none!important;
    }
    .literally canvas {
      background: none!important;
    }
    .SECT2 .toolbar {
      position: fixed;
    }
    .colorpicker {
      z-index: 2516572050;
    }
    .WordSection1 {
      width: 700px;
      margin: 0 auto;
      position: relative;
    }