.diy-navbar {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  box-shadow: none;
  height: 36px;
  min-height: 36px;
  background: #00a856;
  border: none;
  position: relative;
  z-index: 11;
}
.diy-navbar .navbar-nav li {
  position: relative;
  top: 5px;
  cursor: pointer;
}
.diy-navbar .navbar-nav li a {
  border-radius: 5px 5px 0 0;
  line-height: 31px;
  box-shadow: none;
  padding: 0;
  padding: 0 15px;
  margin-right: 5px;
  color: white;
  outline: none;
}
.diy-navbar .navbar-nav li a.back:hover {
  line-height: 26px;
  border-radius: 5px;
}
.diy-navbar .navbar-nav li.active a {
  background: #f9f9f9!important;
  color: green!important;
}
.diy-navbar .navbar-nav li a:hover,
.diy-navbar .navbar-nav li a:focus {
  background: #f9f9f9!important;
  color: green!important;
}
.diy-all-box {
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 6px 9px #c7c7c7;
  margin-top: -5px;
  display: none;
  position: relative;
  z-index: 10;
}
.diy-all-box .diy-box {
  position: relative;
  height: 210px;
  background: #f9f9f9;
  margin: 0 auto 10px;
  overflow-y: auto;
  border-top: none;
}
.diy-all-box .diy-box .diy-title {
  color: #9c9c9c;
  font-size: 14px;
  margin-top: 0;
}
.diy-all-box .diy-box .diy-layout-list li {
  margin-right: 10px;
  border: 3px solid #f9f9f9;
  padding: 1px;
}
.diy-all-box .diy-box .diy-layout-list li:hover {
  border: 3px solid #ff6300;
}
.diy-all-box .diy-box .diy-layout-list li.active {
  border: 3px solid #ff6300;
}
.diy-all-box .diy-box .diy-layout-list li a {
  display: block;
  width: 53px;
  height: 52px;
  overflow: hidden;
  background: url(../img/theme-img/public/format.jpg) no-repeat center;
  text-indent: -999px;
  outline: none;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-3-2 {
  background-position: 0 0;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-2-3 {
  background-position: 0 -52px;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-1-3 {
  background-position: 0 -104px;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-3-1 {
  background-position: 0 -156px;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-1-2-1 {
  background-position: 0 -208px;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-1-1-2 {
  background-position: 0 -260px;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-2-1-1 {
  background-position: 0 -312px;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-2-2 {
  background-position: 0 -364px;
}
.diy-all-box .diy-box .diy-layout-list li a.layout-1 {
  background-position: 0 -416px;
}
.diy-all-box .diy-box .diy-style-list li {
  margin-right: 7px;
  border: 3px solid #f9f9f9;
  padding: 1px;
}
.diy-all-box .diy-box .diy-style-list li:hover {
  border: 3px solid #ff6300;
}
.diy-all-box .diy-box .diy-style-list li.active {
  border: 3px solid #ff6300;
}
.diy-all-box .diy-box .pull-left {
  width: 210px;
}
.diy-all-box .diy-box .pull-left .sidebar-button {
  margin-bottom: 0;
}
.diy-all-box .diy-box .pull-left .sidebar-button li a {
  display: block;
  text-align: center;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  text-decoration: none;
  background: #dfdfdf;
  color: #000;
  outline: none;
  line-height: 104px;
}
.diy-all-box .diy-box .pull-left .sidebar-button li a:hover {
  background: #efefef;
}
.diy-all-box .diy-box .pull-left .sidebar-button li.active a {
  border-right: 0;
  background: #f9f9f9;
}
.diy-all-box .diy-box .pull-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 210px;
  overflow-y: auto;
  padding: 10px;
}
.diy-all-box .diy-box.model-box {
  padding: 0;
}
.diy-all-box .diy-box .model-base-list {
  margin-right: -10px;
}
.diy-all-box .diy-box .model-base-list.position-padding-model {
  bottom: 10px;
  margin: 0;
  overflow-y: auto;
  position: absolute;
  top: 10px;
}
.diy-all-box .diy-box .model-base-list li {
  margin-right: 10px;
  position: relative;
}
.diy-all-box .diy-box .model-base-list li a.model-ico {
  background: url(../img/theme-img/public/module.jpg) no-repeat;
  width: 71px;
  height: 66px;
  padding-top: 16px;
  display: block;
}
.diy-all-box .diy-box .model-base-list li a i.checked {
  background: url(../img/theme-img/public/module.jpg) 0 16px;
  display: block;
  height: 14px;
  width: 14px;
  position: absolute;
  right: 1px;
  top: 1px;
}
.diy-all-box .diy-box .model-base-list li a span {
  display: block;
  background: url(../img/theme-img/public/module.jpg) no-repeat;
  margin: 0px auto;
  width: 63px;
  height: 40px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-kjtj {
  background-position: 0 -526px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-zxbk {
  background-position: 0 -619px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-tp {
  background-position: 0 -251px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-rzxx {
  background-position: 0 -204px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-ljsc {
  background-position: 0 -388px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-xc {
  background-position: 0 -250px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-hyts {
  background-position: 0 -110px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-httl {
  background-position: 0 -343px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-zjfk {
  background-position: 0 -66px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-zxdt {
  background-position: 0 -296px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-wzmk {
  background-position: 0 -203px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-lbmk {
  background-position: 0 -709px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-flash {
  background-position: 0 -894px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-spmk {
  background-position: 0 -802px;
}
.diy-all-box .diy-box .model-base-list li a span.model-base-ico-html {
  background-position: 0 -985px;
}
.diy-all-box .diy-box .model-base-list li p {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 71px;
  position: relative;
  padding-right: 12px;
}
.diy-all-box .diy-box .model-base-list li p a.edit {
  display: block;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
}
.diy-all-box .diy-box .backgroud-option-list {
  margin: 23px auto 0px;
}
.diy-all-box .diy-box .backgroud-option-list .name {
  display: block;
  text-align: right;
  width: 120px;
}
body {
  background-repeat: no-repeat;
  background-position: center top;
}
body.diy-mode {
  background-position: center 247px;
}
body.byhx-bg {
  background-image: url(../img/theme-img/public/byhx.jpg);
  background-color: #dff0f8;
}
body.mtpgy-bg {
  background-image: url(../img/theme-img/public/mtpgy.jpg);
  background-color: #a3daf6;
}
body.xldy-bg {
  background-image: url(../img/theme-img/public/xldy.jpg);
  background-color: #dcfbcc;
}
body.zsmh-bg {
  background-image: url(../img/theme-img/public/zsmh.jpg);
  background-color: #c1c4ea;
}
body.cj-bg {
  background-image: url(../img/theme-img/public/cj.jpg );
  background-color: #bbd5e9;
}
body.cnhk-bg {
  background-image: url(../img/theme-img/public/clhk.jpg );
  background-color: #c8e744;
}
body.csfh-bg {
  background-image: url(../img/theme-img/public/csfh.jpg );
  background-color: #376b76;
}
body.fhds-bg {
  background-image: url(../img/theme-img/public/fhds.jpg );
  background-color: #000;
}
body.fwdpp-bg {
  background-image: url(../img/theme-img/public/fwdpp.jpg );
  background-color: #fff;
}
body.hbcl-bg {
  background-image: url(../img/theme-img/public/hbcl.jpg );
  background-color: #eee5dc;
}
body.hbztd-bg {
  background-image: url(../img/theme-img/public/hbztd.jpg );
  background-color: #181818;
}
body.hhsj-bg {
  background-image: url(../img/theme-img/public/hhsj.jpg );
  background-color: #91a158;
}
body.hjmh-bg {
  background-image: url(../img/theme-img/public/hjmh.jpg );
  background-color: #000;
  background-repeat: repeat-y;
}
body.jzlm-bg {
  background-image: url(../img/theme-img/public/jzlm.jpg );
  background-color: #faebe3;
}
body.lsxq-bg {
  background-image: url(../img/theme-img/public/lsxq.jpg );
  background-color: #586223;
}
body.mscf-bg {
  background-image: url(../img/theme-img/public/mscf.jpg );
  background-color: #f2af46;
}
body.nndt-bg {
  background-image: url(../img/theme-img/public/nndt.jpg );
  background-color: #000;
}
body.qccf-bg {
  background-image: url(../img/theme-img/public/qccf.jpg );
  background-color: #d39039;
}
body.qflm-bg {
  background-image: url(../img/theme-img/public/qflm.jpg );
  background-color: #efe7fc;
}
body.qzy-bg {
  background-image: url(../img/theme-img/public/qzy.jpg );
  background-color: #521b07;
}
body.sgls-bg {
  background-image: url(../img/theme-img/public/sgls.jpg );
  background-color: #4b7581;
}
body.xzsl-bg {
  background-image: url(../img/theme-img/public/szsl.jpg );
  background-color: #88c100;
}
body.wlkh-bg {
  background-image: url(../img/theme-img/public/wlkh.jpg );
  background-color: #000;
}
body.zgldwx-bg {
  background-image: url(../img/theme-img/public/zgldwx.jpg );
  background-color: #b11810;
}
body.xgz-bg {
  background-image: url(../img/theme-img/public/xgz.jpg );
  background-color: #0a0a0a;
}
body.yskj-bg {
  background-image: url(../img/theme-img/public/yskj.jpg );
  background-color: #f4e6cc;
}
.diy-mode .class-index-container .droptrue {
  min-height: 600px;
  padding-bottom: 100px;
  background: url(../img/theme-img/public/dropbox-bottom-bg_03.png) no-repeat bottom center;
}
.diy-mode .class-index-container .droptrue.droptrue1 {
  background-color: #efefef;
}
.diy-mode .class-index-container .droptrue.droptrue2 {
  background-color: #dedede;
}
.diy-mode .class-index-container .droptrue.droptrue3 {
  background-color: #efefef;
}
.diy-mode .class-index-container .droptrue > div {
  cursor: move;
}
.form-horizontal .form-group-nomargin {
  margin: 0 0 10px;
}
.gray-line {
  border-bottom: 1px dashed #cccccc;
  margin: 20px 0;
}
.html-view-box {
  min-height: 100px;
  position: relative;
  overflow: hidden;
}
.html-view-box * {
  max-width: 100%!important;
}
.class-index-container .col-md-1 embed,
.class-index-container .col-md-2 embed,
.class-index-container .col-md-3 embed {
  height: 150px;
  width: 100%;
}
.class-index-container .col-md-1 object,
.class-index-container .col-md-2 object,
.class-index-container .col-md-3 object {
  width: 100%;
}
.class-index-container .col-md-4 embed,
.class-index-container .col-md-5 embed,
.class-index-container .col-md-6 embed,
.class-index-container .col-md-7 embed {
  height: 400px;
  width: 100%;
}
.class-index-container .col-md-4 object,
.class-index-container .col-md-5 object,
.class-index-container .col-md-6 object,
.class-index-container .col-md-7 object {
  height: 250px;
  width: 100%;
}
.class-index-container .col-md-11 embed,
.class-index-container .col-md-12 embed,
.class-index-container .col-md-8 embed,
.class-index-container .col-md-9 embed {
  height: 400px;
  width: 100%;
}
.class-index-container .col-md-11 object,
.class-index-container .col-md-12 object,
.class-index-container .col-md-8 object,
.class-index-container .col-md-9 object {
  height: 250px;
  width: 100%;
}
