/*学校新页面*/
.green-body{background: #fff; padding-top: 2px;}
.green-body .navbar{background: #2ECC71;margin-top:-34px;}
.green-body .navbar:hover{margin-top: 0;}

.school-header{}
.green-body .container-new-top{background:url(../img/bg-schol.jpg) repeat-x scroll center top #FFF !important;}
.green-body .container-new-content{padding-top: 10px;}
.school-header-top{height: 130px;position: relative;border-bottom: 1px solid #D4D4D4;}
.school-header-name{position: absolute;top:30px; width: 375px;height: 85px;}
.school-header-bottom .top-nav-bar-bottom li a {
    font-size: 15px;
    color: #000 !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
.school-header-bottom .top-nav-bar-bottom li{margin: 0 !important; padding: 10px 40px 10px 40px !important;}
.school-header-bottom .top-nav-bar-bottom li:hover{}
.school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 3px solid #FFAE00;color: #f90 !important;}
.school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 15px;
    color: #f90 !important;
    padding-bottom: 2px;
    text-shadow:none;
}
.school-banner-new{margin: auto ;width: 1280px; height: 435px;margin-top: 0px;}

.school-new-left{padding-left: 0 !important;}
.school-new-left .panel-body{border-left:0px solid #ddd;border-right:0px solid #ddd;border-bottom:1px solid #ddd;padding: 5px 0 !important;}
.school-new-right{padding-right: 0 !important;}
.school-new-right .panel-body{border-left:0px solid #ddd;border-right:0px solid #ddd;border-bottom:1px solid #ddd;padding: 5px 0 !important;}
.school-new-center{padding-left:8px;padding-right: 8px;}
.school-new-center .panel-body{border-left:0px solid #ddd;border-right:0px solid #ddd;border-bottom:1px solid #ddd;padding: 5px 0 !important;}

.school-new-left .panel-body .school-group .list-group-item,.school-new-center .panel-body .school-group .list-group-item,.school-new-right .panel-body .school-group .list-group-item{font-size: 12px !important;
border-bottom: 0px dotted #CCC !important;font-family: "宋体";padding:4px !important;color: #333;background: none !important;}
.school-new-left .panel-body .school-group a.list-group-item:hover,.school-new-center .panel-body .school-group a.list-group-item:hover,.school-new-right .panel-body .school-group a.list-group-item:hover{
border-bottom: 0px dotted #CCC !important;color: #333;background: #eee !important;}
.school-new-left .panel-body .school-group a.list-group-item:hover,.school-new-center .panel-body .school-group a.list-group-item:hover,.school-new-right .panel-body .school-group a.list-group-item:hover{color: #2ECC71 !important; }
.school-new-left span.fa-square,.school-new-center span.fa-square,.school-new-right span.fa-square{font-size: 6px !important;
color: #DDD;
margin-right: 5px;
vertical-align: middle;}
.school-new-left span.fa-angle-double-right,.school-new-center span.fa-angle-double-right,.school-new-right span.fa-angle-double-right{font-size: 14px !important;
color: #ccc;
margin-right: 5px;
vertical-align: middle;}
/*学校自定义颜色*/
.school-new-default,.school-new-tzgg,.school-new-xxxw,.school-new-xxgk,.school-new-dyzc,.school-new-xyjs,.school-new-yxjs,.school-new-szdw,.school-new-xstd,.school-new-bjyd,.school-new-xxzy,.school-new-jypt,.school-new-rmzy,.school-new-rmht,.school-new-xzxx{margin-bottom: 20px; background: #fff;}
.green-pane{  position:relative;background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));
background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));padding: 0; position: relative;}
.green-pane > ul{margin: 0;word-spacing: -4px;border-bottom: 1px solid #00A856;
border-top: 1px solid #DDD;
border-right: 1px solid #DDD;}
.green-pane > ul > li{margin-right:0 !important;word-spacing: normal;border-right: 1px solid #ccc;}
.green-pane > ul > li.active{border: 0 !important;}
.green-pane > ul > li.active > a{border-top: 3px solid #00A856 !important;}
.green-pane > ul > li a{line-height:32px;font-size:13px;padding: 0 10px; margin-right: 0;border-radius:0px !important;font-weight: bold;}
.green-pane .pull-right{position: absolute; right: 11px;font-size: 12px;
top: 10px;}
.green-pane > ul > li a i{color:#00A856 ;font-size: 17px;}
.school-new-xxgk .panel-body .school-group{padding: 0 6px;}
.school-new-xxgk .panel-body .school-group .list-group-item{color: #285C44;
font-size: 15px !important;
font-weight: bold;
background: none repeat scroll 0% 0% #71C882 !important;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(50, 50, 50, 0.05);
border:1px solid #52AE7A !important;ont-weight: bold;text-align: center;border-radius: 5px;margin: 3px 0;height: 37px;vertical-align: middle;padding: 8px 4px !important;}
.school-new-xxgk .panel-body .school-group a.list-group-item:hover{background: none repeat scroll 0% 0% rgba(82, 173, 243, 1) !important;color: #064065 !important;}
.school-new-xyjs-img img:hover{transform: scale(1.1);}
.school-new-xyjs-img img{transition: transform 0.3s ease 0s;width: 100px !important;height: 100px !important;}
.school-new-xyjs-img a{position: relative;}

.school-new-szdw-name .label{padding: 0.3em !important;}
.school-new-szdw-list ul{padding: 6px; background: #eee;}
.school-new-szdw-list ul li{height: 50px;vertical-align: top;}
.school-new-szdw-img{margin-right: 5px !important;overflow: hidden;}
.school-new-szdw-img img{width: 50px;height: 50px;transition: transform 0.3s ease 0s;}
.school-new-szdw-img img:hover{transform: scale(1.6);}
.school-new-szdw-name{margin-right: 0 !important;}
.school-new-szdw-name h4{margin: 0 0 5px 0 !important; line-height: 20px;/*text-shadow: 1px 1px 0px #285C44;*/display: block;font-size: 12px;width: 57px;}
.school-new-szdw-name p{margin: 0 !important;color: #444;font-family: "新宋体";font-size: 12px;width: 57px;}

.school-new-bjyd .school-new-szdw-name h4{}

.school-new-jypt-list div{text-align: center;margin:5px 0;}
.school-new-jypt-list div a{padding: 4px; display: block;background:#EAE3C9 ;border-radius:4px;}
.school-new-jypt-list div a img{transition: transform 0.3s ease 0s;}
.school-new-jypt-list div a img:hover{transform: scale(1.1);}
/*自定义栏目*/
.school-new-default .panel-body{overflow-y:scroll; max-height: 90px;}
/*尾部*/
.green-body .container-footer{background: url(../img/foot_bg.png) repeat-x #eee; /*box-shadow: 0px -1px 2px rgba(168, 168, 168, 1);*/}
.green-body .container-footer ul li{margin-right: 0 !important;text-align: center;padding: 10px 0;background: #ccc;font-size: 13px;
font-weight: 900;}
.green-body .container-footer ul li a{padding: 4px 30px;text-shadow: 1px 1px 1px #fff;border-radius: 4px;}
.green-body .container-footer ul li a:hover{background: #999;color: #333;}
.green-body .number-news{
	font-size: 10px;
    padding: 1px 5px;
    border-radius: 2px;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#71C882), to(#39956A));
    background-image: -webkit-linear-gradient(top, #71C882, #39956A);
    background-image: -moz-linear-gradient(top, #71C882, #39956A);
    background-image: -o-linear-gradient(top, #71C882, #39956A);
    background-image: -ms-linear-gradient(top, #71C882, #39956A);
    border:1px solid #00A856;
    
}
.school-rizhi-list-text{ font-size: 16px;padding: 10px;text-justify: inherit;text-align: justify;text-indent: 2em;}
.school-rizhi-list-text p{
	line-height: 24px;
    color: #444;
    text-align: justify;
}
/*学校二级页面*/
.school-neiye-banner{background: #eee;}
.school-neiye-banner-img{background: #ECECEC;height: 150px;}
.school-new-neiye-left{position: relative;}
.school-new-neiye-tab{position: absolute;top:-50px;width: 187px;}
.school-neiye-title{min-height: 500px;}
.green-pane .school-new-neiye-tab .panel-heading{color: rgba(46, 156, 92, 1) !important;padding:0 22px;line-height: 49px; text-align:center; background:#ccc;font-size: 20px;color: #fff;font-weight: bold;text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);}
.green-pane .school-new-neiye-list .list-group-item{}

.school-search-list{width: 200px;position: absolute !important;
right: 4px !important;
font-size: 12px !important;
top: 4px !important;}
.school-search-list .form-control{height: 29px;}
.school-neiye-title .school-new-szdw-name h4{width: 70px;}
.school-neiye-title .school-new-szdw-name p{width: 70px;}
.school-menber {
	height: 50px;
	background: #F3F3F3;
	border-bottom: 2px solid #ddd;
	margin: 10px 0px;
    padding: 14px 20px;
}
.school-menber span{
	font-size: 16px;
}
.title-member{margin: 5px 0;}
.title-member-h{font-size: 16px; height: 40px;padding: 9px 20px;position: relative;border-bottom: 3px solid #ddd;background: #f3f3f3;}
.title-member-h a{font-size: 22px;color: #2ECC71;}

.school-details-title{text-align: center !important;line-height: 33px;padding: 10px 0 !important;background: #eee !important;border-bottom: 3px solid #2ECC71;}
.school-details-title h4{float: none !important;margin: 0 0 5px 0 !important;}
