/*学校新页面*/
body{
	font-family:"微软雅黑";
	background-repeat: no-repeat !important;
	padding-top: 0px !important;
}
.diy-mode .container-new-content .droptrue {
  min-height: 600px;
  padding-bottom: 100px;
  background: url(../img/theme-img/public/dropbox-bottom-bg_03.png) no-repeat bottom center;
}
.diy-mode .container-new-content .droptrue.droptrue1 {
  background-color: #efefef;
}
.diy-mode .container-new-content .droptrue.droptrue2 {
  background-color: #dedede;
}
.diy-mode .container-new-content .droptrue.droptrue3 {
  background-color: #efefef;
}
.diy-mode .container-new-content .droptrue > div {
    cursor: move;
}
.navbar-green{
}
.navbar-green .container{
	position: relative;
}
.green-body{ padding-top: 25px !important;
background: -moz-linear-gradient(-45deg,  rgba(170,170,170,0.65) 0%, rgba(201,201,201,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(170,170,170,0.65)), color-stop(100%,rgba(201,201,201,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(170,170,170,0.65) 0%,rgba(201,201,201,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(170,170,170,0.65) 0%,rgba(201,201,201,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(170,170,170,0.65) 0%,rgba(201,201,201,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(170,170,170,0.65) 0%,rgba(201,201,201,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6aaaaaa', endColorstr='#00c9c9c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.green-body.diy-mode > .navbar{
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(234, 234, 234, 0.9)) repeat scroll 0% 0% transparent;
height: 38px;
min-height: 38px;
box-shadow: 0px 0px 2px #757575;
}
.green-body .diy-navbar .navbar-nav li a{
	color: #757575 !important;
font-size: 12px;
}
.green-body .navbar:hover{margin-top: 0;}
.green-body .school-logo-name{
position: absolute;
top: 55px;
left: 89px;
font-size: 32px;
font-weight: 900;
letter-spacing: 16px;
text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.65);
color: #8D8D8D;
font-family: "微软雅黑";
}
.school-header{padding: 0 10px;}
.green-body .container-new-content{padding-top:0 10px;/*background: url("../img/red-bg.png") repeat-y scroll 0% 0% transparent;*/}
.green-body .school-header-top{height: 130px;position: relative;}
.green-body .school-header-top .thumbnail{display: inherit;background: none;}
.green-body .school-header-name{
	position: absolute;
top: 47px;
width: 75px;
height: 75px;
box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.13);
border-radius: 50%;
border: 4px solid rgba(255, 255, 255, 0.3);
}
.green-body .school-header-bottom{}
.green-body .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 14px;
    color: #000 !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
.green-body .school-header-bottom .top-nav-bar-bottom li{margin: 0 !important; padding: 10px 43px !important;}
.green-body .school-header-bottom .top-nav-bar-bottom li:hover{}
.green-body .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 3px solid #FFAE00;color: #f90 !important;}
.green-body .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #f90 !important;
    padding-bottom: 2px;
    text-shadow:none;
}
.green-body .school-banner-new{margin: auto ;width: 1280px; height: 419px;margin-top: 0px;}

.green-body .school-new-left{padding-left: 0 !important;padding-right: 3px !important;}
.green-body .school-new-left .panel-body{padding: 0 !important;background: #fff;}
.green-body .school-new-right{padding-right: 0 !important;padding-left: 3px !important;}
.green-body .school-new-right embed{
	width: 100%;
	height: 200px;
}
.green-body .school-new-left embed{
	width: 100%;
	height: 200px;
}
.green-body .school-new-right .panel-body{padding: 5px 0 !important;background: #fff;}
.green-body .school-new-center{padding: 0px 3px;}
.green-body .school-new-center .panel-body{padding: 5px 0 !important;background: #fff;}

.green-body .school-new-left .panel-body .school-group .list-group-item,.green-body .school-new-center .panel-body .school-group .list-group-item,.green-body .school-new-right .panel-body .school-group .list-group-item{font-size: 12px !important;
border-bottom: 1px dotted #CCC !important;
font-family:Arial,Helvetica,sans-serif,Verdana,Helvetica;
padding:6px 4px !important;
color: #333;
background: none !important;position: relative;
}
.green-body .school-new-center .panel-body .school-group .list-group-item{
	border-bottom: 0px !important;
}
.new-news{position: absolute; top: 2px; background:url(../img/new.gif);width: 24px;height: 11px;right:2px}
.green-body .school-new-left .panel-body .school-group a.list-group-item:hover,.green-body .school-new-center .panel-body .school-group a.list-group-item:hover,.green-body .school-new-right .panel-body .school-group a.list-group-item:hover{
border-bottom: 0px dotted #CCC !important;color: #333;background: #eee !important;color: #2ECC71 !important;}
.green-body .school-new-left .panel-body .school-group a.list-group-item:hover,.green-body .school-new-center .panel-body .school-group a.list-group-item:hover,.school-new-right .panel-body .school-group a.list-group-item:hover{ box-shadow: none ; }
.green-body .school-new-left span.fa-square,.green-body .school-new-center span.fa-square,.green-body .school-new-right span.fa-square{font-size: 5px !important;
color: #DDD;
margin-right: 5px;
vertical-align: middle;}
.green-body .school-new-left span.fa-angle-double-right,.green-body .school-new-center span.fa-angle-double-right,.green-body .school-new-right span.fa-angle-double-right{font-size: 14px !important;
color: #ccc;
margin-right: 5px;
vertical-align: middle;}
/*学校自定义颜色*/
.green-body .school-new-default,
.green-body .school-new-tzgg,
.green-body .school-new-xxxw,
.green-body .school-new-xxgk,
.green-body .school-new-dyzc,
.green-body .school-new-xyjs,
.green-body .school-new-yxjs,
.green-body .school-new-szdw,
.green-body .school-new-xstd,
.green-body .school-new-bjyd,
.green-body .school-new-xxzy,
.green-body .school-new-jypt,
.green-body .school-new-rmzy,
.green-body .school-new-rmht,
.green-body .school-new-xzxx{
margin-bottom: 6px;
background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.33);
padding: 4px;
border-radius: 3px;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.green-body .green-pane{  position:relative;
	background: #bababa; /* Old browsers */
background: -moz-linear-gradient(top,  #bababa 0%, #a0a0a0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%,#a0a0a0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bababa 0%,#a0a0a0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bababa 0%,#a0a0a0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bababa 0%,#a0a0a0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bababa 0%,#a0a0a0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */

padding: 0; position: relative;
color: #fff;
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.27) inset, 0px 1px 1px rgba(0, 0, 0, 0.18);
}
.green-body .green-pane > ul{margin: 0;word-spacing: -4px;border-bottom: 0px;}
.green-body .green-pane > ul > li{
	margin-right:0 !important;
word-spacing: normal;
}
.green-body .green-pane > ul > li.active{
	border: 0 !important;
	}
.green-body .green-pane > ul > li.active > a{
	border: 0px !important;
	background: none;
	color: #fff;
	}
.green-body .green-pane > ul > li > a:hover i{
	transform:rotate(360deg);
	transition: -moz-transform 0.3s ease-out 0s;
	}
.green-body .green-pane > ul > li a{
	line-height:32px;
	font-size:12px;
	padding: 0 10px;
	 margin-right: 0;border-radius:0px !important;
	 font-weight: bold;
	 background: none;
	 }
.green-body .green-pane .pull-right{position: absolute; right: 11px;font-size: 12px;
top: 10px;}
.green-body .green-pane > ul > li a i{color: rgba(0, 0, 0, 0.31);
font-size: 15px;}
.green-body .school-new-xxgk .panel-body .school-group{padding:6px;}
.green-body .school-new-xxgk .panel-body .school-group .list-group-item{
color: #545454;
font-size: 15px !important;
font-weight: bold;
background: none repeat scroll 0% 0% #C5C5C5 !important;
text-shadow: 1px 1px 1px #FFF;
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(50, 50, 50, 0.05);
border: 1px solid #ABABAB !important;
text-align: center;
border-radius: 5px;
margin: 2px 0px;
height: 37px;
vertical-align: middle;
padding: 8px 4px !important;
}
.green-body .green-pane > ul > li.active > a:hover{
	box-shadow: none !important;
}
.green-body .school-new-xxgk .panel-body .school-group a.list-group-item:hover{background: none repeat scroll 0% 0% rgba(82, 173, 243, 1) !important;color: #064065 !important;}
.green-body .school-new-xyjs-img img:hover{transform: scale(1.1);}
.green-body .school-new-xyjs-img img{transition: transform 0.3s ease 0s;width: 100px !important;height: 100px !important;}
.green-body .school-new-xyjs-img a{position: relative;}

.green-body .school-new-szdw-name .label{padding: 0.3em !important;text-shadow: 1px 1px 1px #fff;}
.green-body .school-new-szdw-list ul{padding: 6px; background: #eee;}
.green-body .school-new-szdw-list ul li{height: 50px;vertical-align: top;border-radius: 50%;}
.green-body .school-new-szdw-img{margin-right: 5px !important;overflow: hidden;}
.green-body .school-new-szdw-img img{width: 50px;height: 50px;transition: transform 0.3s ease 0s;border-radius: 50%;}
.green-body .school-new-szdw-img img:hover{transform: scale(1.6);}
.green-body .school-new-szdw-name{margin-right: 0 !important;}
.green-body .school-new-szdw-name h4{margin: 0 0 5px 0 !important; line-height: 20px;/*text-shadow: 1px 1px 0px #285C44;*/display: block;font-size: 12px;width: 57px;}
.green-body .school-new-szdw-name p{margin: 0 !important;color: #444;font-family: "新宋体";font-size: 12px;width: 57px;}

.green-body .school-new-bjyd .school-new-szdw-name h4{}

.green-body .school-new-jypt-list div{text-align: center;margin:5px 0;}
.green-body .school-new-jypt-list div a{padding: 4px; display: block;background:#EAE3C9 ;border-radius:4px;}
.green-body .school-new-jypt-list div span{display: block;}
.green-body .school-new-jypt-list div a img{transition: transform 0.3s ease 0s;}
.green-body .school-new-jypt-list div a img:hover{transform: scale(1.1);}
/*自定义栏目*/
.green-body .school-new-default .panel-body{/*overflow-y:scroll; max-height: 90px;*/}
/*尾部*/
.green-body .container-footer{box-shadow:0px -1px 2px rgba(168, 168, 168, 0.21);background: none repeat scroll 0% 0% #FFF;}
.green-body .container-footer ul li{margin-right: 0 !important;text-align: center;padding: 10px 0;font-size: 13px;
font-weight: 900;}
.green-body .container-footer ul li a{padding: 4px 30px;border-radius: 4px;}
.green-body .container-footer ul li a:hover{background: #ccc;color: #fff;}
.green-body .number-news{
    padding: 1px 5px;
    border-radius: 2px;
    color: #fff;
    margin-right: 5px;
  background: #bababa; /* Old browsers */
background: -moz-linear-gradient(top,  #bababa 0%, #a0a0a0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%,#a0a0a0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bababa 0%,#a0a0a0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bababa 0%,#a0a0a0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bababa 0%,#a0a0a0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bababa 0%,#a0a0a0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */

    border:1px solid #999;
    
}
.green-body .school-rizhi-list-text{ font-size: 14px;/*font-family:"宋体";*/padding: 10px;text-justify: inherit;text-align: justify;text-indent: 2em;}
.green-body .school-rizhi-list-text p{
	line-height: 24px;
    color: #444;
    text-align: justify;
}
/*学校二级页面*/
.green-body .school-neiye-banner{}
.green-body .school-resources-banner{background:none repeat scroll 0% 0% #ADADAD !important !important;}
.green-body .school-neiye-banner-img{/*background: #ECECEC;*/height: 150px;}
.green-body .school-new-neiye-left{position: relative;}
.green-body .school-new-neiye-tab{position: absolute;top:-50px;width: 187px;}
.green-body .school-neiye-title{min-height: 500px;}
.green-body .green-pane .school-new-neiye-tab .panel-heading{
color: #5D5D5D !important;
padding: 0px 22px;
line-height: 49px;
text-align: center;
background: none repeat scroll 0% 0% #CCC;
font-size: 20px;
font-weight: bold;
text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.12);
}
.green-body .green-pane .school-new-neiye-list .list-group-item{}

.green-body .school-search-list{width: 200px;position: absolute !important;
right: 4px !important;
font-size: 12px !important;
top: 4px !important;}
.green-body .school-search-list .form-control{height: 29px;}
.green-body .school-neiye-title .school-new-szdw-name h4{width: 70px;}
.green-body .school-neiye-title .school-new-szdw-name p{width: 70px;}
.green-body .school-menber {
	height: 50px;
	background: #F3F3F3;
	border-bottom: 2px solid #ddd;
	margin: 10px 0px;
    padding: 14px 20px;
}
.green-body .school-menber span{
	font-size: 16px;
}
.green-body .title-member{margin: 5px 0;}
.green-body .title-member-h{font-size: 16px; height: 40px;padding: 9px 20px;position: relative;border-bottom: 3px solid #ddd;background: #f3f3f3;}
.green-body .title-member-h a{font-size: 22px;color: #2ECC71;}

.green-body .school-details-title{text-align: center !important;line-height: 33px;padding: 10px 0 !important;background: #eee !important;border-bottom: 3px solid #2ECC71;}
.green-body .school-details-title h4{float: none !important;margin: 0 0 5px 0 !important;}

.green-body .school-boss{margin-top: 15px;}
.green-body .school-boss .col-md-9{padding-right: 22px;padding-top: 0;}
.green-body .school-boss-img{margin: auto;}
.green-body .school-moreover{padding: 15px;}
.green-body .school-moreover dt,.school-moreover dd{font-size: 15px !important; }
.green-body .school-moreover dd{margin-bottom: 10px;}


/*资源库*/
.green-body .container-fluid.document-single-box{
	background: #fff;
}
.green-body .school-neiye-search-img{height: 53px; padding: 10px 10px;}
.green-body .school-search .form-control{height: 34px;}
.green-body .school-banner-img{height: 277px;background: #F5F5F5;}
.green-body .list-tab-school{box-shadow: 3px 3px 3px #EBEBEB;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.green-body .list-tab-right{padding-top: 10px !important;}
.green-body .list-tab-number{height: 160px; border: 1px solid #ccc;margin-bottom:7px;background: #EAE3C9;padding: 0 10px;}
.green-body .list-tab-number h4{text-align: center;font-size: 16px; font-weight: bold;color: rgba(131, 125, 104, 1);}
.green-body .list-tab-number .list-tab-number-list{height: 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
    background-color: #989898;
    text-align: center;
    text-shadow: 0px 4px 9px #3E3E3E, 0px -1px 0px #FFF;
border-color: #999;
font-size: 25px;
color: #D1D1D1;
font-weight: bold;
padding: 8px 14px !important;
}
.green-body .list-tab-up{height: 101px; border: 1px solid #ccc;padding: 0 10px;}
.green-body .list-tab-up h4{text-align: center;font-size: 16px; font-weight: bold;color: rgba(131, 125, 104, 1);}
.green-body .list-tab-up .list-tab-number-list{
	height: 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
    background-color: #989898;
    text-align: center;
    text-shadow: 0px 4px 9px #3E3E3E, 0px -1px 0px #FFF;
border-color: #999;
font-size: 25px;
color: #D1D1D1;
font-weight: bold;
padding: 8px 14px !important;
}
.green-body .school-resources-tui > li{padding:5px 10px 0 20px;background:#eee;/*box-shadow:0px 0px 4px rgba(0, 0, 0, 0.09) inset;*/}
.green-body .school-resources-tui > li dl{border-bottom: 1px solid rgba(0, 0, 0, 0.09) !important;}
.green-body .school-resources-tui > li dt{margin-bottom:5px !important;font-weight: 200 !important;color: #ccc;font-size: 12px;}
.green-body .school-resources-tui > li dt a{font-weight: bold !important;margin-right: 5px;font-size: 15px;}
.green-body .school-resources-tui > li dt b.b-bg{background-color: #67C1A5;width: 5px; height: 15px;display: inline-block;position: relative;
left: -20px;
top: 2px;}
.green-body .school-resources-tui li dd ul li{font-size: 13px;}
.green-body .school-resources-tui li dd ul li.resource-red{color: #999;}
.green-body .list-tab-right .panel-class-Set > ul > li{background: none !important; height: auto !important;}
.green-body .ranking-title{padding: 0 8px;background: url('../img/school-module.png') repeat scroll 0% 0% transparent;}
.green-body .ranking-title h5{font-size: 16px;margin-top: 10px;}
.green-body .ranking-title h5 a{
	background: none repeat scroll 0% 0% #2CA974;
display: inline-block;
padding: 4px;
border-radius: 5px;
}
.green-body .ranking-title h5 i{color: #fff;}
.green-body .school-teacher-ranking{border-bottom: 1px solid #ddd; height: 120px;overflow-x: scroll;padding: 0 3px;background: #fff;}
.green-body .school-teacher-ranking > ul{white-space: nowrap;word-spacing: -4px;}
.green-body .school-teacher-ranking > ul > li{
	width: 274px;
	height: 85px;
	background: #efefef;
	padding: 10px;
	margin-right: 11px !important;
	word-spacing: 0px;
}
.green-body .school-teacher-ranking .inline-ranking-left dl{text-align: center;background: #ddd;padding:5px 10px;margin: 0 !important;}
.green-body .school-teacher-ranking .inline-ranking-left dl dt{font-size: 20px; color: red;text-shadow: 1px 1px 1px #fff;}
.green-body .school-teacher-ranking .inline-ranking-right{padding-left: 10px;}
.green-body .school-teacher-ranking .inline-ranking-right dl{margin: 0 !important;}
.green-body .school-teacher-ranking .inline-ranking-right dl dd{font-size: 12px; color: #999;}
.green-body .school-teacher-ranking .inline-ranking-right dl dd.text-space{font-size: 14px; color: #333;}

.green-body .school-resources-ranking{margin-top: 15px;}
.green-body .school-resources-ranking .resources-ranking-hot .green-pane{
	/*background: #E8E8E8;*/
}
.green-body .school-resources-ranking .resources-ranking-hot .green-pane > ul{border-left: 1px solid #DDD;}
.green-body .school-resources-ranking .resources-ranking-hot .green-pane .resources-ranking-hot-title{margin: 0 10px !important;border-right: 0 !important;}
.green-body .school-new-left .resources-ranking-hot .panel-body .school-group > a{padding: 7px !important;}
.green-body .school-new-left .resources-ranking-hot .panel-body .school-group > a:first-child .number-news{background-image: -moz-linear-gradient(center top , rgba(255, 102, 102, 1), rgba(182, 9, 9, 1));
border: 1px solid rgba(168, 0, 0, 1);}

.green-body .school-new-left .resources-ranking-hot .panel-body .school-group > a ul li{margin: 0 !important;}
.green-body .school-new-left .resources-ranking-hot .panel-body .school-group > a ul li.c-1{width: 10% !important;float: left;}
.green-body .school-new-left .resources-ranking-hot .panel-body .school-group > a ul li.c-2{width: 75% !important;float: left;}
.green-body .school-new-left .resources-ranking-hot .panel-body .school-group > a ul li.c-3{width: 15% !important;float: left;color: #999;}

/*论坛首页*/
ul.school-luntan-title{padding: 6px; background: rgba(255, 255, 255, 0.51);border-radius: 6px;color: #333;}
ul.school-luntan-title > li span i{font-size: 16px;color: #F06431;}
ul.school-luntan-title > li{padding: 0 10px;border-right: 1px solid #2CA974;margin: 0 !important;font-size: 12px;}
ul.school-luntan-title > li.pull-right{border-right: 0px;}
ul.school-luntan-title > li span a{color: #F06431;text-decoration: none;font-weight: bold;font-size: 16px;}
.school-teacher-ranking .inline-ranking-left dl{border: 2px solid rgba(255, 255, 255, 0.56);}
.luntan-contant{margin-top: 15px;}
.school-luntan-list{
	padding:0 5px 5px 5px;
	margin-bottom: 10px;
}
.school-luntan-list > div{padding:10px ;font-size: 17px;font-weight: bold;text-decoration: none;width: 100%;background: none repeat scroll 0% 0% rgba(221, 221, 221, 0.33);}
.school-luntan-list .submenu{
	background: #ddd;
	margin: 0 !important;
	box-shadow: none !important;
	padding-right: 5px !important;
}
.school-luntan-list .submenu > li{
	padding: 5px;
    border-bottom: 0px !important;
	padding-right: 0 !important;
	margin-right: 0 !important;
}
.school-luntan-list .submenu > li > a:hover{
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.14) inset;
	background: #eee !important;
}
.school-luntan-list .submenu > li > a {
	text-align: center;
	border: 1px solid #fff;
		border-radius: 5px;
	background: #eee;
 	display: block;
 	text-decoration: none;
 	color: #333;
 	padding: 14px;
 	line-height: 20px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 	
 }
.school-luntan-list .submenu > li > a:hover{background: #eee;}
.school-luntan-list .luntan-ico{background: #fff;
display: block;
float: left;
text-decoration: none;
width: 60px;
height: 60px;
vertical-align: middle;
text-align: center;
padding: 5px;
margin-right: 10px;
border-radius: 50%;
}
.school-luntan-list .luntan-ico:hover{
	background: #ddd;
}
.school-luntan-list .luntan-ico img{
	border-radius: 50%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);

}
.school-luntan-list .link-menu > span{
	padding: 17px;
display: block;

}
.school-luntan-list ul.inline-luntan{
	padding: 10px 0;
}
.school-luntan-list ul.inline-luntan li{
	border-right: 1px dashed #ccc;
	margin: 0 !important;
	padding: 0 10px;
	font-weight: 500;
	font-size: 14px;
}
.school-luntan-list ul.inline-luntan li.inline-luntan-1{
	font-weight: bold;
	color: #f90;
}
.school-luntan-list i.fa-clipboard{color:#2CA974 ;font-size: 18px;}



/*自定义皮肤*/

body {
  background-repeat: no-repeat;
  background-position: center top;
}
body.diy-mode {
  background-position: center 247px;
  background-repeat: no-repeat;
}
body.class-body .class-index-container .droptrue.droptrue1 {
    background-color: rgba(239, 239, 239, 0.24);
}
body.class-body .class-index-container .droptrue.droptrue2 {
    background-color: rgba(239, 239, 239, 0.24);
}
body.class-body .class-index-container .droptrue.droptrue3 {
    background-color: rgba(239, 239, 239, 0.24);
}
body.byhx-bg {
  background-image: url(../img/theme-img/public/byhx.jpg);
  background-color: #dff0f8;
  background-repeat: no-repeat;
}
body.byhx-bg .green-pane{
	background: #88bfe8; /* Old browsers */
background: -moz-linear-gradient(top,  #88bfe8 0%, #70b0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bfe8), color-stop(100%,#70b0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #88bfe8 0%,#70b0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */

}
body.byhx-bg .school-header-bottom{
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
background-color:#0fa6ea;
background:-webkit-linear-gradient(left,rgba(15,166,234,1) 0,rgba(89,204,24,1) 10%,rgba(15,166,234,1) 60%,rgba(15,166,234,1) 100%);
background:-moz-linear-gradient(left,rgba(15,166,234,1) 0,rgba(89,204,24,1) 10%,rgba(15,166,234,1) 60%,rgba(15,166,234,1) 100%);
background:-ms-linear-gradient(left,rgba(15,166,234,1) 0,rgba(89,204,24,1) 10%,rgba(15,166,234,1) 60%,rgba(15,166,234,1) 100%);
background:linear-gradient(left,rgba(15,166,234,1) 0,rgba(89,204,24,1) 10%,rgba(15,166,234,1) 60%,rgba(15,166,234,1) 100%)
}
body.byhx-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.byhx-bg .school-header-bottom .top-nav-bar-bottom li:hover{}
body.byhx-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom:0px !important;color: #1E669B !important;}
body.byhx-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom:0px !important;
}
body.byhx-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
color: #5EA2DB;
}


body.byhx-bg.class-body .user-num-wrapper .num-list > li > h3,body.byhx-bg.class-body .panel-class-Set .num {
    color: #4C9ED9 !important;
}
body.byhx-bg.class-body .top-nav-bar-bottom li a:hover {
    color: #2286CF;
    text-decoration: none;
}
body.byhx-bg.class-body .top-nav-bar-bottom li.current a {
    color: #2286CF;
}
body.byhx-bg .media-body > .fontbold{
	color: #549BE5 !important;
}
body.mtpgy-bg {
  background-image: url(../img/theme-img/public/mtpgy.jpg);
  background-color: #AEE0FB;
  background-repeat: no-repeat;
}
body.mtpgy-bg .school-neiye-banner{
    background: none repeat scroll 0% 0% #6ABFE9;
}
body.mtpgy-bg .green-pane{
	background: #54bcef; /* Old browsers */
background: -moz-linear-gradient(top,  #54bcef 0%, #4eafde 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54bcef), color-stop(100%,#4eafde)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #54bcef 0%,#4eafde 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #54bcef 0%,#4eafde 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #54bcef 0%,#4eafde 100%); /* IE10+ */
background: linear-gradient(to bottom,  #54bcef 0%,#4eafde 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54bcef', endColorstr='#4eafde',GradientType=0 ); /* IE6-9 */

}
body.mtpgy-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #333 !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.mtpgy-bg .school-header-bottom .top-nav-bar-bottom li:hover{}
body.mtpgy-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 3px solid #4C9ED9;color: #1E669B !important;}
body.mtpgy-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #1E669B !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 3px solid #4C9ED9;
}
body.mtpgy-bg .school-logo-name{
	text-shadow:1px 1px 0px rgba(255, 255, 255, 0.78);
color: #5EA2DB;
}
body.xldy-bg {
  background-image: url(../img/theme-img/public/xldy.jpg);
  background-color: #DEFED5;
  background-repeat: no-repeat;
}
body.xldy-bg .green-pane{
		background: #a9db80; /* Old browsers */
background: -moz-linear-gradient(top,  #a9db80 0%, #96c56f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a9db80 0%,#96c56f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */

}
body.xldy-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #333 !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.xldy-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 3px solid #0F8A22;color: #0F8A22 !important;}
body.xldy-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #0F8A22 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 3px solid #0F8A22;
}
body.xldy-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
color: #3EB021;
}

body.zsmh-bg {
  background-image: url(../img/theme-img/public/zsmh.jpg);
  background-color: #CCCCEE;
  background-repeat: no-repeat;
}
body.zsmh-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #333 !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.zsmh-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 3px solid #795DD7;color: #795DD7 !important;}
body.zsmh-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #795DD7 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 3px solid #795DD7;
}
body.zsmh-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
color: #6C5BC0;
}
body.cj-bg {
  background-image: url(../img/theme-img/public/cj.jpg );
  background-color: #bbd5e9;
  background-repeat: no-repeat;
}
body.cj-bg .school-neiye-banner {
    background: none repeat scroll 0% 0% rgb(69, 158, 227);
}
body.cj-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.29);
color: #0063A1;
}
body.cj-bg .user-num-wrapper .num-list > li > h3{
	color: #10629F !important;
}
body.cnhk-bg {
  background-image: url(../img/theme-img/public/clhk.jpg );
  background-color: #c8e744;
}
body.csfh-bg {
  background-image: url(../img/theme-img/public/csfh.jpg );
  background-color: #376b76;
}
body.fhds-bg {
  background-image: url(../img/theme-img/public/fhds.jpg );
  background-color: #000;
}
body.fhds-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.fhds-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 0px solid #795DD7;color: #FF9900 !important;}
body.fhds-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #FF9900 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 0px solid #795DD7;
}
body.fhds-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.65);
color: #ED1CD1;
}
body.fhds-bg .school-neiye-banner {
    background: #89264A;
}
body.fwdpp-bg {
  background-image: url(../img/theme-img/public/fwdpp.jpg );
  background-color: #fff;
}
body.fwdpp-bg .btncolor1{
	background: none repeat scroll 0% 0% #FE80D8;
border: 1px solid #D270C6;
}
body.fwdpp-bg.class-body .user-num-wrapper .num-list > li > h3,body.fwdpp-bg.class-body .panel-class-Set .num{
    color: #C470EC !important;
}
body.fwdpp-bg.class-body .top-nav-bar-bottom li a:hover {
    color:#C470EC !important;
    text-decoration: none;
}
body.fwdpp-bg.class-body .top-nav-bar-bottom li.current a {
    color: #C470EC !important;
}
body.hbcl-bg {
  background-image: url(../img/theme-img/public/hbcl.jpg );
  background-color: #eee5dc;
}
body.hbztd-bg {
  background-image: url(../img/theme-img/public/hbztd.jpg );
  background-color: #181818;
}
body.hbztd-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.hbztd-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 0px solid #795DD7;color: #FF9900 !important;}
body.hbztd-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #FF9900 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 0px solid #795DD7;
}
body.hbztd-bg .school-logo-name{
	text-shadow: 1px 1px 0px #000;
color: #FFC600;
}
body.hbztd-bg .school-neiye-banner {
    background: #89264A;
}
body.hhsj-bg {
  background-image: url(../img/theme-img/public/hhsj.jpg );
  background-color: #91a158;
}
body.hjmh-bg {
  background-image: url(../img/theme-img/public/hjmh.jpg );
  background-color: #3A0114;
  background-repeat: no-repeat;
}
body.hjmh-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #FC5897 !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.hjmh-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 0px solid #795DD7;color: #FC5897 !important;}
body.hjmh-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #FC5897 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 0px solid #795DD7;
}
body.hjmh-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
color: #FFD800;
}
body.hjmh-bg .school-neiye-banner {
    background: #89264A;
}
body.jzlm-bg {
  background-image: url(../img/theme-img/public/jzlm.jpg );
  background-color: #faebe3;
}
body.jzlm-bg .school-neiye-banner {
    background: none;
}
body.jzlm-bg .green-pane{
		background: rgb(255,168,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */

}
body.jzlm-bg .school-new-xxgk .panel-body .school-group .list-group-item{
	color: #AD5001;
font-size: 15px !important;
font-weight: bold;
background: none repeat scroll 0% 0% #FFA649 !important;
text-shadow: 1px 1px 1px #FFF;
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(50, 50, 50, 0.05);
border: 1px solid #F27700 !important;
text-align: center;
border-radius: 5px;
margin: 2px 0px;
height: 37px;
vertical-align: middle;
padding: 8px 4px !important;
}
body.jzlm-bg .top-nav-bar-bottom{
	background-color:#0fa6ea;
background:-webkit-linear-gradient(left,rgb(255, 129, 64) 0,rgb(254, 189, 104) 10%,#81E0A3 60%,#40A1FF 100%);
background:-moz-linear-gradient(left center , rgb(255, 129, 64) 0px, rgb(254, 189, 104) 10%, #81E0A3 60%, #40A1FF 100%) repeat scroll 0% 0% transparent;
background:-ms-linear-gradient(left,rgb(255, 129, 64) 0,rgb(254, 189, 104) 10%,#81E0A3 60%,#40A1FF 100%);
background:linear-gradient(left,rgb(255, 129, 64) 0,rgb(254, 189, 104) 10%,#81E0A3 60%,#40A1FF 100%);

border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
body.jzlm-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.jzlm-bg .school-header-bottom .top-nav-bar-bottom li:hover{}
body.jzlm-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom:0px !important;color: #1E669B !important;}
body.jzlm-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom:0px !important;
}
body.jzlm-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
color: #FF8744;
}
body.jzlm-bg .top-nav-bar-bottom li.current a,body.jzlm-bg .top-nav-bar-bottom li a:hover{
	color:#44A5F9 ;
}
body.lsxq-bg {
  background-image: url(../img/theme-img/public/lsxq.jpg );
  background-color: #586223;
}
body.lsxq-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.lsxq-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 0px solid #795DD7;color: #06FF00 !important;}
body.lsxq-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #06FF00 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 0px solid #795DD7;
}
body.lsxq-bg .school-logo-name{
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.65);
color: #06FF00;
}
body.lsxq-bg .green-pane{
	background: rgb(143,196,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(143,196,0,1) 0%, rgba(143,196,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(143,196,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */

}
body.mscf-bg {
  background-image: url(../img/theme-img/public/mscf.jpg );
  background-color: #f2af46;
}
body.nndt-bg {
  background-image: url(../img/theme-img/public/nndt.jpg );
  background-color: #e2e2e2;
}
body.qccf-bg {
  background-image: url(../img/theme-img/public/qccf.jpg );
  background-color: #d39039;
}
body.qflm-bg {
  background-image: url(../img/theme-img/public/qflm.jpg );
  background-color: #efe7fc;
}
body.qzy-bg {
  background-image: url(../img/theme-img/public/qzy.jpg );
  background-color: #521b07;
}
body.qzy-bg .green-pane{
	background: rgb(255,103,15); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,103,15,1) 0%, rgba(255,103,15,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,103,15,1)), color-stop(100%,rgba(255,103,15,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,103,15,1) 0%,rgba(255,103,15,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,103,15,1) 0%,rgba(255,103,15,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,103,15,1) 0%,rgba(255,103,15,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,103,15,1) 0%,rgba(255,103,15,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */

}
body.sgls-bg {
  background-image: url(../img/theme-img/public/sgls.jpg );
  background-color: #4b7581;
}
body.xzsl-bg {
  background-image: url(../img/theme-img/public/szsl.jpg );
  background-color: #88c100;
}
body.xzsl-bg .school-neiye-banner {
    background: none repeat scroll 0% 0% #CF0;
}
body.xzsl-bg .green-pane{
		background: rgb(180,223,91); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,223,91,1) 0%, rgba(180,223,91,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,223,91,1)), color-stop(100%,rgba(180,223,91,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b',GradientType=0 ); /* IE6-9 */

}
body.xzsl-bg .school-logo-name{
	color: #038300;
}
body.xzsl-bg .media-body > .fontbold{
	color: #55913D !important;
}
body.xzsl-bg.class-body .user-num-wrapper .num-list > li > h3,body.xzsl-bg.class-body .panel-class-Set .num{
    color: #329E18 !important;
}
body.xzsl-bg.class-body .top-nav-bar-bottom li a:hover {
    color:#FFFC00 !important;
    text-decoration: none;
}
body.xzsl-bg.class-body .top-nav-bar-bottom li.current a {
    color: #FFFC00 !important;
}
body.wlkh-bg {
  background-image: url(../img/theme-img/public/wlkh.jpg );
  background-color: #000;
}
body.wlkh-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.wlkh-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 0px solid #795DD7;color: #FF9900 !important;}
body.wlkh-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #FF9900 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 0px solid #795DD7;
}
body.wlkh-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.65);
color: #D7D7D7;
}
body.wlkh-bg .school-neiye-banner {
    background: #89264A;
}
body.zgldwx-bg {
  background-image: url(../img/theme-img/public/zgldwx.jpg );
  background-color: #b11810;
}
body.xgz-bg {
  background-image: url(../img/theme-img/public/xgz.jpg );
  background-color: #0a0a0a;
}
body.xgz-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.xgz-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 0px solid #795DD7;color: #CD57C5 !important;}
body.xgz-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #CD57C5 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 0px solid #795DD7;
}
body.xgz-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.65);
color: #CD57C5;
}
body.xgz-bg .green-pane{
	background: rgb(229,112,231); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,112,231,1) 0%, rgba(200,94,199,1) 47%, rgba(168,73,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,112,231,1)), color-stop(47%,rgba(200,94,199,1)), color-stop(100%,rgba(168,73,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */

}
body.yskj-bg {
  background-image: url(../img/theme-img/public/yskj.jpg );
  background-color: #f4e6cc;
}
body.yskj-bg .school-header-bottom .top-nav-bar-bottom li a {
    font-size: 13px;
    color: #fff !important;
    padding-bottom: 2px;
    text-shadow:none;
    text-decoration: none;
}
body.yskj-bg .school-header-bottom .top-nav-bar-bottom li a:hover{border-bottom: 0px solid #795DD7;color: #CD57C5 !important;}
body.yskj-bg .school-header-bottom .top-nav-bar-bottom li.current a {
    font-size: 13px;
    color: #CD57C5 !important;
    padding-bottom: 2px;
    text-shadow:none;
    border-bottom: 0px solid #795DD7;
}
body.yskj-bg .school-logo-name{
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.65);
color: #000;
}
body.yskj-bg .green-pane{
	background: rgb(249,191,137); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,191,137,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,191,137,1)), color-stop(47%,rgba(245,171,102,1)), color-stop(100%,rgba(239,141,49,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,191,137,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,191,137,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,191,137,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,191,137,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bf89', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */

}