/*2014.12.05 guolei custom*/

/*文章列表图标样式*/
.bureau-icon-size{ font-size: 5px;}

/*视频*/
.video-mask { position: absolute; top:5px; z-index: 10; width: 172px; height: 140px;} 

/*用户评价去掉最后下划线*/
.qdline:last-child{ border-bottom: 0px !important;}

/*校综合平台-县制乡镇学校列表*/
.bureau-sch-title{ 
  border-bottom: 1px solid #CCC;
  padding: 7px; 
  background: none repeat scroll 0% 0% #F2F2F2;
  box-shadow: 0px 3px 0px #EDEDED;
  margin-top: 0px !important;
 font-size: 14px;
  margin-bottom: 10px;;
 }
 
.bureau-operation{ margin-bottom: 10px;} 
.bureau-sch-title span{ display:inline-block; line-height: 30px;}
.sch-name{ max-width: 500px; height: 30px; overflow: hidden;}
.seach-sch{ font-weight:bold; font-size: 14px;}

/*教育局平台首页-学校资源排行*/ 
  
.schresourceRank{ padding:0px 0px 10px 0px !important;}
.schresourceRank li{ padding:10px 0 10px 0; !important; border-bottom:#fff dotted 1px !important ;}
.schresourceRank li:last-child{ border: none !important;}
.sch-resources-text p{ line-height: 23px !important; margin: 0px !important;}
.sch-resources-text p:first-child{ 
	height: 26px;
	overflow: hidden;
    }
#resRank{ overflow:hidden;height:245px;background:#f4f4f4;}



/*期刊*/
.graytab{text-align: center;}
.graytab thead tr{ background-color: #F9F9F9;}
.up-progress{  border:#ccc solid 1px;  border-radius:5px; padding: 10px 10px 0px 10px;}


/*友情链接*/
.notice-old .list-group-item{  border-left: 0px; border-right: 0px;}

