body{font-family:"微软雅黑";}
li{list-style: none;}
a{color:#4c4c4c;}
a:hover{color:#ffae00;}
.navbar{
	box-shadow:0 1px 2px #575757;}
.second-nav-bar-bottom{
	bottom:5px;}
.clear-border{
	border-radius:0px;
	border:0px;
	box-shadow:none;
}
/*button*/

.btn-default > span{
	margin-right:5px;}
.btn-default > a{
	color:#545454;
}
	
.btn-primary > span{
	margin-right:5px;}
.btn-primary > a{
	color:#FFF;
	}

.btn-warning > span{
	margin-right:5px;}
.btn-warning > a{
	color:#FFF;
	}

.btn-danger > span{
	margin-right:5px;}
.btn-danger > a{
	color:#FFF;
	}

.nav-class-management > li > a,.nav-pills > li > a{
	border-radius:0px;!important;
	padding:5px 10px;
}

/*tab*/

.position-bottom-navs {
  color: #2ecc71;
  height: 0;
  left: 53%;
  line-height: 0;
  margin-left: -8px;
  position: absolute;
  top: 100%;
}

	
/*分页*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background:#ffae00;
	border:1px solid #ddd;
}
.pagination > li > a, .pagination > li > span{ color:#ffae00;}
.pagination > li > a:hover,.pagination > li > a:focus{ color:#333;}


/*个人空间主页*/
.information{
	height:170px;  padding:0px;
	border-bottom:2px solid #999;
}
.left-nav{
    padding:0px;
border-bottom:2px solid #999;


}
.personal-file-box ul li{
	}
.information-photo{
	width:90px;margin:0px auto;}
.information-name{
	width:120px;margin:0px auto;  }
li.information-text{
	float:left;
	display:inline;
	font-size:18px;
	padding:0 5px;
	}
.information-text em{
	font-size:26px;}
.information-text span{
	font-size:14px;}
.left-zuijin{
	margin-top:5px;
}
.left-zuijin > .panel-body > img{
	margin:10px 10px;
}
ul > li.list-group-item{
	padding:5px 15px;}

.bg-success{
	font-size:16px; padding:8px 0 8px 20px;
	background:#D9EDF7;
	color:#86C1EE;
	height:36px;
     }

.fd-item{
	margin:10px 18px;
	overflow:hidden;
	padding-bottom:15px;
	float:left;
	border-bottom:1px solid #D4D4D4;
}

.fd-item dt{

	float:left;}

.fd-left > a > img{
	width:50px;
	height:50px;
}
.fd-left{}
.fd-right{
	margin-left:65px;}

.list-group-item{
	 border:none;}
.panel-body > a > img{margin-right:4px;}

/*班级空间主页*/


.right-content .panel-heading{
	}
.tab-top-nav > .nav-pills{
	width:100%;
	margin:auto;
	text-align:center;
	padding:6px 0px 20px 0px;
	border-bottom:1px solid #CCC;
	}
/*班级通知*/
.notice .row{padding:0 15px;}
.position-right{
	position:absolute;
	right:20px;
	margin-top:10px;
	z-index:999;
}

.notice-old .list-group-item{
	border:1px dotted #CCC;}
.notice > .panel{
	border:0px;
	border-radius:0px;
}
.notice .sub-list{
	border:0px;
	border-radius:0px;
	box-shadow:none;}
.list-group-item:first-child{
	border-radius:0px;
	box-shadow:none;}

/*班级信息管理*/
.management{
	margin-top:20px;}
.management-xuanyan li{
	margin-top:20px;}
.nav-justified li a span{
	margin-right:5px;
	color:#F0AD4E;}
.tab-content-tx{
	margin:30px;
	float:left;
}
.tab-content-kj{
	float:left;margin:30px;}
	
.left-qx,.right-qx{ 
	padding:10px 10px;
	}	
.button-qx{
	padding:10px 45px;}
	
.button-qx .btn-primary,.button-qx .btn-warning{
	margin-top:20px;}
/*班级日志*/
.rizhi-content{margin-bottom:20px;}
.rizhi-title{
	margin-bottom:20px;}
.rizhi-fenlei{
	margin:20px 17px;
	border-top:1px solid #CCC;
	}

/*班级相册*/
.photo-upload{width:180px; margin:auto;
padding:20px 0px;
 }
.photo-upload > .btn-warning{
	padding:8px 25px;
	border:4px solid #ffae00;
	font-size:20px;
	background:#ffae00;
	color:#FFF;
	text-align:center;}
.photo-upload > .btn-warning:hover{
	
	border:4px solid #ffae00;
	background:#FFF;
	color:#ffae00;
	padding:8px 25px;
	}

/*.photo-box-single img{
	width:100%}*/

.photo-box-single.big img {
  height: 140px;
  width: 203px;
  
}

.photo-add{
	background:#F2F2F2; margin-top:20px;
	width:100%;
	height:300px;}
	
.photo-add .btn-danger{
	position:absolute;
	width:200px;
	font-family:"微软雅黑";
	font-size:20px;
	left:40%;
	top:40%;}
/*作业管理*/
.homework-km{
	}
.homework-km > h5,.homework-km > .btn-group{
	float:left;
	margin-right:10px;}
.homework-go{width:100px;
padding:10px 0px;
font-size:18px;}
.button-right{
	position:absolute;
	right:0px;
	text-align:center;
	font-family:"微软雅黑";
}

/*班级留言管理*/

.edit-info-tips .btn-default{
	height:20px;}
/*班级成员分组*/	
.add-grouping{ border-bottom:2px solid #E6E6E6; padding:10px 0px;}
.inline-block-ul-mid li {
  display: inline-block;
  vertical-align:middle;
}
.list-grouping{
	margin-top:10px;}
.list-grouping .label-default{
	color:#F30; margin-left:3px;}
.list-grouping-fen li span{
	color:#F00;}
a.list-grouping-fen-more{
	 margin-left:5px;
	 color:#999;}
.list-grouping .btn-center a{
	}
.delete-ico{
	display:block;
	position:absolute;
	right:14px;
	top:12px;
	font-size:20px;
	color:#666;}
.group-people-ico{
	margin-bottom:20px; border:2px solid #CCC; border-radius:5px; padding:10px;}
	
	
.classification-tiele{
	padding:15px; color:#06C; background:#E6E6E6; margin-bottom:15px;}
/*班级主页*/
.right-class-content .panel-body{
	padding:0px 5px 20px 5px;}
.class-tongzhi{
	background:#8A4500; height:100px;
	padding:5px;
	overflow:hidden;}
.class-tongzhi-content{
	height:90px; background:#004040;
	padding:10px;}
.class-tongzhi-content .list-group{
	box-shadow:none;;}
.class-tongzhi-content .list-group-item{
	background:#408080;
	border-radius:3px;}
/*班级权限*/
label.checkbox-qx{
	margin-right:15px; display:block;}

ul.qx-thead-body li{ border:1px solid #E8E8E8;padding:10px 0px;}
.class-group-permissions .radio{
	margin:0px;}