/* button */
.btn-lg,
.btn-group-lg > .btn {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-default {
  background: #d6d6d6;
  border: none;
  text-shadow: none;
  color: #545454;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #545454;
  background-color: #c5c5c5;
  border-color: #adadad;
}

.btn-primary {
  background: #2ecc71;
  border: none;
  text-shadow: none;
  color: white;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0cb353;
  border-color: #adadad;
}

.btn-warning {
  background: #ffae00;
  border: none;
  text-shadow: none;
  color: white;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ee9e19;
  border-color: #adadad;
}

.btn-danger {
  background: #ec6333;
  border: none;
  text-shadow: none;
  color: white;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d24513;
  border-color: #adadad;
}

/*labels*/
.label-default {
  background-color: #d6d6d6;
  color: #000;
}

.label-primary {
  background-color: #2ecc71;
}

.label-warning {
  background-color: #ffae00;
}

.label-danger {
  background-color: #ec6333;
}

/* badges */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #2ecc71;
}

/* navs */
.position-bottom-navs {
  bottom: -1px;
  color: #2ecc71;
  height: 0;
  left: 50%;
  line-height: 0;
  margin-left: -8px;
  position: absolute;
  top: auto;
}

/* navbars */
.navbar-green {
  background-color: #0cb353;
  border: none;
}
.navbar-green .navbar-brand {
  color: #fff;
}
.navbar-green .navbar-brand:hover,
.navbar-green .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-green .navbar-text {
  color: #fff;
}
.navbar-green .navbar-nav > li > a {
  color: #fff;
}
.navbar-green .navbar-nav > li > a:hover,
.navbar-green .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus {
  background-color: #0c9e4a;
}
.navbar-green .navbar-nav > .disabled > a,
.navbar-green .navbar-nav > .disabled > a:hover,
.navbar-green .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-green .navbar-toggle {
  border-color: #ffae00;
}
.navbar-green .navbar-toggle:hover,
.navbar-green .navbar-toggle:focus {
  background-color: #ffae00;
}
.navbar-green .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-green .navbar-collapse,
.navbar-green .navbar-form {
  border-color: #101010;
}
.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-green .navbar-nav > .open > a:focus {
  color: #856216;
  background-color: #ffae00;
}
@media (max-width: 767px) {
  .navbar-green .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-green .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-green .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-green .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-green .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-green .navbar-link {
  color: #777;
}
.navbar-green .navbar-link:hover {
  color: #fff;
}
.navbar-green .btn-link {
  color: #777;
}
.navbar-green .btn-link:hover,
.navbar-green .btn-link:focus {
  color: #fff;
}
.navbar-green .btn-link[disabled]:hover,
fieldset[disabled] .navbar-green .btn-link:hover,
.navbar-green .btn-link[disabled]:focus,
fieldset[disabled] .navbar-green .btn-link:focus {
  color: #444;
}
.table .table-header {
	background: #e7e7e7;
}

/*list groups*/
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #2ecc71;
  border-color: #428bca;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #3071a9;
  background-image: -webkit-linear-gradient(top, #2ecc71 0%, #48be7a 100%);
  background-image:      -o-linear-gradient(top, #2ecc71 0%, #48be7a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2ecc71), to(#48be7a));
  background-image:         linear-gradient(to bottom, #2ecc71 0%, #48be7a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ecc71', endColorstr='#ff48be7a', GradientType=0);
  background-repeat: repeat-x;
  border-color: #48be7a;
}

/* panels */
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d6d6d6 0%, #c7c7c7 100%);
  background-image:      -o-linear-gradient(top, #d6d6d6 0%, #c7c7c7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6), to(#c7c7c7));
  background-image:         linear-gradient(to bottom, #d6d6d6 0%, #c7c7c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6d6d6', endColorstr='#ffc7c7c7', GradientType=0);
  background-repeat: repeat-x;
  border-color:#CCC;
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #2ecc71 0%, #48be7a 100%);
  background-image:      -o-linear-gradient(top, #2ecc71 0%, #48be7a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2ecc71), to(#48be7a));
  background-image:         linear-gradient(to bottom, #2ecc71 0%, #48be7a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ecc71', endColorstr='#ff48be7a', GradientType=0);
  background-repeat: repeat-x;
  border-color:#CCC;
} 
.panel-primary {
  border-color: #2ecc71;
}

/*panel-other*/
.panel-primary-other > .panel-heading-other{
  background:#efefef;
  border:0px;
  border-radius:0px;
}
.panel-primary-other > .panel-body-other{
  background:#efefef;
}
.panel-primary-other{
	background:#FFF;}

.carousel-indicators .active {
  background-color: #2ecc71;
}
.carousel-indicators.indicators-bottom-center {
  list-style: none outside none;/*
  margin: 0;
  right: auto;
  top: auto;
  bottom:0;
  z-index: 5;
  text-align: center;
  width: 100%;*/
}
.carousel-indicators.indicators-bottom-center li {
  border: 1px solid #2ecc71;/*
  display: inline-block;
  zoom:1;
  *display:inline;
  *margin-right: 6px;
  float: none;*/
}

/* 输入框 */
.form-control.large {
    height:50px;
}
.input-group-addon.large {
    padding: 6px 18px;
}
.panel-body {
    padding: 20px 17px;
}
.form-control:focus {
    border-color: #2ecc71;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* login */
.login-title {
    font-size: 22px;
    margin: 10px 0 10px;
}

/* footer */
.footer {
    text-align: center;
}

/*顶部导航条*/
.logo-small {
  display: block;
  background: url(../img/logo-tm-top_03.png) left center no-repeat; 
  width: 220px;
  height: 50px;
}
.navbar-zhijiao {
  border-radius: 0;
}
.navbar {
  box-shadow: 0 4px 2px #ccc;
}

/* inline-block-ul */
.inline-block-ul {
  margin: 5px auto;
  padding: 0;
}
.inline-block-ul li {
  display: inline-block;
  zoom:1;
  *display:inline;
  margin-right: 10px;
}

/* 底部footer */
.footer-grayline {
  background: url(../img/footer-ico_02.png) repeat;
  border-top: 6px solid #7f7f7f;
  height: 65px;
  color: white;
}
.footer-grayline a {
  color: white;
}

/* 高校学堂 */
.fixed-top-body {
  padding-top: 55px;
}
.banner-fluid-bg {
  background: url(../img/banner-graybg_03.png) repeat-x;
}
.top-banner-small {
  height: 100px;
  background:url(../img/banner-pic_03.jpg) no-repeat center;
  position: relative;
}
.second-nav-bar-bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.second-nav-bar-bottom li {
  margin:0 20px;
}
.second-nav-bar-bottom li a {
  font-size: 16px;
  color: #4c4c4c;
  padding-bottom: 10px;
}
.second-nav-bar-bottom li a:hover {
  color: #ee9e19;
}
.second-nav-bar-bottom li.current a {
  text-decoration: none;
  color: #0c9e4a;
  font-weight: bold;
}
.second-nav-bar-bottom li.current a {
  background: url(../img/green-top-arrow_03.png) center bottom no-repeat;
}

/* collapse-lx */
.collapse-lx {
  width: 100%;
}
.collapse-lx .list-group {
  margin-bottom: 5px;
}
.collapse-lx .list-group .sub-list {
  display: none;
}
.badge-none {
  background: none;
  color: #ccc;
}
.sub-list {
  padding: 0;
}
.sub-list li{
  list-style: none;
}
.sub-list .list-group-item {
  border: none;
}

/* 排版 */
.float-right {
  float:right;
}
.float-left {
  float:left;
}

/* 编辑区域标签 */
.edit-info-tips {
  position: absolute;
  right: 10px;
  top:5px;
  display: none;
  z-index: 20;
}
.edit-info-tips li {
  margin-left: 5px;
}
.sub-list li{
  position: relative;
}
.sub-list li:hover .edit-info-tips {
  display: block;
}
.sub-list li:hover .badge {
  display: none;
}
.list-group {
  position: relative;
  box-shadow: 0 1px 2px #b7b7b7;
}
.edit-info-tips.white a {
  color: white;
}
.position-right-top {
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 20;
  display: none;
}
.list-group:hover .position-right-top {
  display:block;
}
.sub-list .input-group {
  padding:10px 0px;
}
.ico-hidden {
  display: none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.all-page-content-bg {
  background: #f3f3f3;
  padding-top: 10px;
}
.wz-edit-button-area {
  border-top: 1px solid #ccc;
  padding: 0;
  padding-top: 10px;
}
.wz-edit-button-area li {
  list-style: none;
  margin-right: 10px;
}

/* 相册样式 */
.progress-info {
  font-size: 12px;
}
.photo-box-single {
  margin-top: 10px;
}
.photo-box-single .img {
  position: relative;
  padding: 5px;
  border: 1px solid #ccc;
  background: white;
}
.photo-box-single img {
  width: 173px;
  height: 140px;
}
.photo-box-single .img:hover .position-bottom-info{
  display: block;
}
.position-bottom-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  top:80%;
  background: #919191;
  margin: 0;
  padding: 0;
  text-align: center;
  display: none;
}
.position-bottom-info  li {
  display: inline-block;
  zoom:1;
  *display:inline;
  vertical-align: middle;
  margin:0 10px;
  list-style: none;
}
.position-bottom-info  li a {
  color: white;
  font-size: 12px;
}
.photo-box-single .name {
  text-align: center;
}
.photo-box-single .amount {
  text-align: center;
  font-size: 12px;
}
.gray {
  color:#c2c2c2;
}
.user-list-small {
  margin-bottom: 10px;
}
.user-list-small .img img{
  width:100%;
  height:50px;
}
.user-list-small .name {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.user-list-small .date {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.tree-sub-1 {
  padding: 10px;
}
.tree-sub-1 > li {
  border-bottom: 1px dashed #dedede;
}
.tree-sub-1 > li:hover {
  background: #f0f0f0;
} 
.tree-sub-1 li {
  list-style: none;
  line-height: 30px;
  position: relative;
}
.tree-sub-1 li a{
  display: block;
  padding-left: 10px;
  text-decoration: none;
}
.tree-sub-1 li a:hover {
  background: #e0e0e0;
}
.tree-sub-1 > li:hover > .position-right-top,.tree-sub > li:hover > .position-right-top {
  display: block!important;
  top: 2px;
}
.todo-ico-button {
  display: none;
}
.tree-sub-1 > li:hover > a > .todo-ico-button {
  display: inline-block;
}
.all-tree-ul-none .tree-sub-1 ,.all-tree-ul-none .tree-sub-2 ,.all-tree-ul-none .tree-sub-3 ,.tree-sub .tree-sub {
  display: none;
}
.all-tree-ul-none.showit .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub ,
.all-tree-ul-none.showit .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  .tree-sub  {
  display: block;
}
.list-group-tree.small .tree-sub {
  padding-left: 5px;

}


/* 相册详情页 */
.photo-title-box {
  margin-top: 10px;
  border-top: 1px dashed #ccc;
  padding: 10px 0;
  overflow: hidden;
}
.rg-gallery {
  margin-bottom: 20px;
}
.pingjia-nr .media {
  margin-top: 20px;
}
.name-block-center {
  display: block;
  text-align: center;
}
.pj-del-ico-small {
  font-size: 12px;
}
.send-new-pj-box {
  border-top: 1px solid #cecece;
  padding-top: 20px;
  margin-top: 20px;
}
.send-new-pj-box h4 {
  font-size: 16px;
  color: #0cb353;
}

/* 进度条 */
.pace-activity {
  background: #f1f1ef;
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;    
  right: 0;
  top: 0;
 }

/* 资源主页 */
.gray-box-table {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.gray-box-table tr ,.gray-box-table td{
  border: 1px solid #ccc;
  line-height: 30px;
}
.filter-box .title {
  background: #fbfbfb;
  text-align: center;
}
.filter-box  .list li{
  text-align: center;
  margin: 0 10px;
}
.filter-box  .list li a {
  padding: 4px 12px;
  color: #030303;
}
.filter-box  .list li.current a {
  background:#0cb353;
  text-decoration: none;
  color: white;
}
.sub-list .current-tree > a,.sub-list .current-tree > a:hover{
  background: #0cb353;
  color: white;
}
.document-single-box {
  border-bottom: 1px dashed #ccc;
}
.document-single-box ul{
  padding: 0;
}
.document-single-box ul li {
  list-style: none;
}
.document-single-box .wd-menu-info .title {
  display: inline-block;
  zoom:1;
  *display:inline;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 5px;
  margin-bottom: 10px;
}
.document-single-box .wd-menu-info .detail {
  margin: 5px 0;
  color: #666;
}
.document-single-box .wd-menu-info .info {
  color: #888;
  margin-right: 20px;
  font-size: 12px;
}
.document-single-box .wd-info {
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin-top: 20px;
}
.start-pj .icon-dislikes {
  color: #ccc;
}
.start-pj .icon-star{
  color: #ff6300
}
.document-ico-style {
  width: 16px;
  height: 16px;
  display: inline-block;
  zoom:1;
  *display:inline;
  vertical-align: middle;
  background-image: url(../img/document-ico_03.png);
}
.word-ico {
  background-position:-294px center;
}
.ppt-ico {
  background-position:-273px center;
}
.excel-ico {
  background-position:-147px center;
}
.swf-ico {
  background-position: -21px center;
}
.pagination.center {
  text-align: center;
  width: 100%;
}
.pagination.center li {
  display: inline-block;
  zoom:1;
  *display:inline;
}
.tree-title-button:hover {
  cursor: pointer;
}